{% load static %}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover" data-sidebar-image="none">

<head>

    <meta charset="utf-8" />
    <title>Pssc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <!--Swiper slider css-->
    <link href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example">

    <!-- Begin page -->
    <div class="layout-wrapper landing">
        <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'assets/images/pssc.png' %}" class="card-logo card-logo-dark" alt="logo dark" height="70">
                    <img src="{% static 'assets/images/pssc.png' %}" class="card-logo card-logo-light" alt="logo light" height="50 ">
                </a>
                <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">

                        <li class="nav-item">
                            <a class="nav-link fs-15" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-15" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-15" href="{%url 'IndustryPartner:industry_login'%}"> Industry Partner</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fs-15" href="{%url 'TrainingPartner:training_login'%}"> Training partner </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-15" href="contact.html">Contact Us</a>
                        </li>


                    </ul>


                </div>

            </div>
        </nav>
        <!-- end navbar -->

        <!-- start hero section -->
        <section class="section pb-0 hero-section" id="hero">
            <div class="bg-overlay bg-overlay-pattern" style="height: 1075px;"></div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-sm-10" style="margin-top: 70px;">
                        <div class="text-center mt-lg-5 pt-5 mt-5">

                            <i class="fa fa-check-circle " style="font-size:150px;color:green"></i>
                            <h4 class="display-6  mb-3 lh-base"><b>Thank You For Your Registration !!</b><br> Admin will approve your registration <br><span class="text-primary fw-semibold">Wait for admin approvel</span></h4>

                            <br>
                            <br>
                            <a href="{% url 'TrainingPartner:get_reg_number' %}"><button class="btn btn-primary">Check Status</button></a>
                            <br>
                            <br>

                        </div>

                    </div>
                    <!-- end hero section -->
                </div>
            </div>

        </section>