{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Smart University | Bootstrap Responsive Admin Template</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="{% static 'assets1/fonts/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets1/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets1/fonts/font-awesome/v6/css/all.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets1/fonts/material-design-icons/material-icon.css' %}" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="{% static 'assets1/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="{% static 'assets1/plugins/material/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/material_style.css' %}">
    <!-- Theme Styles -->
    <link href="{% static 'assets1/css/theme/light/theme_style.css' %}" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="{% static 'assets1/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets1/css/theme/light/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets1/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets1/css/theme/light/theme-color.css' %}" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.einfosoft.com/templates/admin/smart/source/assets/img/favicon.ico" />

    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="/Tp/training_dashboard/">
                        <!-- <span class="logo-icon material-icons fa-rotate-45">school</span> -->
                        <span>Training&nbsp;Partner &nbsp;&nbsp;&nbsp;</span> </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <!-- <form class="search-form-opened" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">
                        <span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
                    </div>
                </form> -->
                <!-- start mobile menu -->
                <a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">

                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle " src="{% static 'assets1/img/dp.jpg' %}" />
                                <span class="username username-hide-on-mobile">Welcome back &nbsp;{{uid.Contact_Person_Name}}&nbsp;&nbsp;&nbsp;&nbsp;
							</a>
							<ul class="dropdown-menu dropdown-menu-default">

								<li>
									<a href="{% url 'TrainingPartner:training_setting'%}">
										<i class="icon-settings"></i> Settings
									</a>
								</li>
                                <li>
									<a href="{% url 'TrainingPartner:TP_profile'%}">
										<i class="fa-solid fa-pen-to-square"></i> Profile
									</a>
								</li>


								<li class="divider"> </li>
								<li>
									<a href="{% url 'TrainingPartner:training_logout'%}">
										<i class="icon-logout"></i> Log Out </a>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- end header -->

		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
                </div>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a href="{% url 'TrainingPartner:add_training_center' %}" class="nav-link nav-toggle"> <i data-feather="user"></i>-->
<!--                        <span class="title">Training Center</span>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:training_dashboard' %}" class="nav-link nav-toggle"> <i class="fa fa-home" aria-hidden="true"></i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:center_list' %}" class="nav-link nav-toggle"> <i class="fas fa-user"></i>
                        <span class="title">Training Center</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:candidate_list' %}" class="nav-link nav-toggle"> <i class="fas fa-users"></i>
                        <span class="title">Candidate</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:view_job_post' %}" class="nav-link nav-toggle"> <i class="fas fa-calendar"></i>
                        <span class="title">View Job Post</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="hiring.html" class="nav-link nav-toggle"><i class="fas fa-users"></i>
						<span class="title">Hiring Request</span></a>
                </li> -->
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:bulkupload' %}" class="nav-link nav-toggle"><i class="fa fa-upload" aria-hidden="true"></i>
                        <span class="title">Bulk Upload Data</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:TP_profile'%}" class="nav-link nav-toggle"><i class="fas fa-edit"></i>
                        <span class="title">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:trainig_contact_us' %}" class="nav-link nav-toggle"> <i class="fa fa-address-book" aria-hidden="true"></i>
                        <span class="title">Contact Us</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'TrainingPartner:training_logout'%}">
                        <i class="fas fa-sign-out"></i>
                        <span class="title">Log Out</span></a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end sidebar menu -->
    {% block content %}{% endblock %}
    <div class="page-footer">
        <div class="page-footer-inner">  © Copyright - 2022 All Rights Reserved by Power Sector Skill Council India
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    </div>
        <script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 700); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').on('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>
    <!-- start js include path -->
    <script src="{% static 'assets1/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets1/plugins/popper/popper.js' %}"></script>
    <script src="{% static 'assets1/plugins/jquery-blockui/jquery.blockui.min.js' %}"></script>
    <script src="{% static 'assets1/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets1/plugins/feather/feather.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'assets1/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <!-- Common js-->
    <script src="{% static 'assets1/js/app.js' %}"></script>
    <script src="{% static 'assets1/js/layout.js' %}"></script>
    <script src="{% static 'assets1/js/theme-color.js' %}"></script>
    <!-- material -->
    <script src="{% static 'assets1/plugins/material/material.min.js' %}"></script>
    <!-- chart js -->
    <script src="{% static 'assets1/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets1/js/pages/chart/apex/home-data3.js' %}"></script>
    <script src="{% static 'assets1/plugins/sparkline/jquery.sparkline.js' %}"></script>
    <script src="{% static 'assets1/js/pages/sparkline/sparkline-data.js' %}"></script>
    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 700); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').on('click', function() {
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>
    <!-- end js include path -->
</body>

</html>