{% extends 'CM_header.html' %}
{%load static%}

{% block content %}

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<div class="page-title-breadcrumb">
				<!-- <div class=" pull-left">
					<div class="page-title">INDUSTRY PARTNER</div>
				</div> -->
				
				<hr>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<!-- start new student list -->
		<div class="row">
			<div  class="col-md-3 col-sm-12 offset-2">  
				<div class="signin-image">
					<figure><img src="{% static 'img/pages/forgot.jpg' %}" alt="sing up image"></figure></figure>

				</div>
			</div>

			<div class="col-md-3 col-sm-12 ">
				<div class="card card-box">
					<div class="card-head">
					
						<header>Change Password</header>
					</div>
					<div class="card-body " id="bar-parent">
						<form method = "POST" action="{% url 'Candidate_Master:change_password' %}" class="register-form" id="login-form">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12 col-sm-6">
									<br>
									<div class="form-group">
										<label >Old Password:</label>
										<input type="password" name="oldpass"  class="form-control"
											placeholder="Enter Old Password" style="border-radius: 50px;" required>
									</div>
								</div>
								<div class="col-md-12 col-sm-6">
									<div class="form-group">
										<label >New Password :</label>
										<input type="password" name="newpassword"  class="form-control"
											placeholder="Enter New Password" style="border-radius: 50px;" required>
									</div>
								</div>
								<div class="col-md-12 col-sm-6">
									<div class="form-group">
										<label>Re-Enter Password :</label>
										<input type="password" name="confirmpassword"  class="form-control"
											placeholder=" Re-Enter Password" style="border-radius: 50px;" required>
									</div>
								</div>
								
							</div>
							{%for message in messages %}
							{%if "cmpass" in message.tags %}
								<p style = "color:red"> {{message}} </p>   {# show gst error message #}
							{%endif%}
							{%endfor%}
							{%for message in messages %}
							{%if "passw" in message.tags %}
								<p style = "color:red"> {{message}} </p>   {# show gst error message #}
							{%endif%}
							{%endfor%}
							{%for message in messages %}
							{%if "oldvalidity" in message.tags %}
								<p style = "color:red"> {{message}} </p>   {# show gst error message #}
							{%endif%}
							{%endfor%}

							
						
							<hr>
							<div class="col-md-6 offset-4">
								<button type="submit" class="btn btn-primary">Submit</button> 
								<a href= "{% url 'Candidate_Master:candidate_profile' %}" class="btn btn-INFO">Cancel<br></a>
							</div>
						
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- end new student list -->
	</div>
</div>
<!-- end page content -->
</div>

{% endblock %}