{% extends 'base.html' %}
{%load static%}

{% block content %}
	<div class="main">
		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure><img src="{% static 'img/pages/forgot.jpg' %}" alt="sing up image"></figure>
						
					</div>
					<div class="signin-form">
						<h2 class="form-title">Forgot Password?</h2>
						<p>Enter your email bellow to receive link for reset password</p><br>
						<form class="register-form" id="login-form">
							<div class="form-group">
								<div class="">
									<input name="email" type="email" placeholder="Email Address"
										class="form-control input-height" /> </div>
							</div>
							<div class="form-group form-button">
								<button class="btn btn-round btn-primary" name="send" id="send">Send</button>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- start js include path -->
	<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
{% block content %}