{% extends 'admin_header.html' %}
{% load static %}
{% block content  %}
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">INDUSTRY PARTNER</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="#">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">INDUSTRY PARTNER</li>
                            </ol>
                        </div>
                    </div>

                    <!-- start new student list -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Add New Industry</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <form action="/ad/add_industry/" method="post">
                                        {% csrf_token %} 
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">First Name :</label>
                                                    <input type="text" name="First_Name" value="{{First_Name}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter First Name" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Last Name :</label>
                                                    <input type="text" name="Last_name" value="{{Last_name}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Last Name" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Partner Type :</label>
                                                    <input type="text" name="Partner_Type" value="{{Partner_Type}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Partner Type" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Legal Entity Name :</label>
                                                    <input type="text" name="Legal_Entity_Name" value="{{Legal_Entity_Name}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Legal Entity Name" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">SPOC Name :</label>
                                                    <input type="text" name="SPOC_Name" value="{{SPOC_Name}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter SPOC Name" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    {{e_msg}}
                                                    <label for="simpleFormEmail">SPOC Email :</label>
                                                    <input type="email" name="SPOC_Email" value="{{SPOC_Email}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter SPOC Email" style="border-radius: 50px;" required>
                                                </div>
                                                {% for message in messages %}
                                                {%if "aipv" in message.tags %}
                                                    <div>
                                                        <center><h4><p style = "color:red"> {{message}} </p> </h4></center>
                                                    </div>
                                                {%endif%}
                                                {% endfor %}
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                 
                                                    <label for="simpleFormEmail">SPOC Password :</label>
                                                    <input type="password" name="Password" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter SPOC Password" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">SPOC Phone :</label>
                                                    <input type="number" name="SPOC_Phone" value="{{SPOC_Phone}}" class="form-control" id="simpleFormEmail"  onKeyPress="if(this.value.length==10) return false;"
                                                        placeholder="Enter SPOC Phone" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Address :</label>
                                                    <input type="text" name="Full_Address" value="{{Full_Address}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Address" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">State Name :</label>
                                                    <select type="text" name="State_Name" value="{{State_Name}}" class="form-select" id="simpleFormEmail"
                                                        placeholder="Enter State Name" style="border-radius: 50px;" required>
                                                        <option value="">Select State</option>
                                                    {% for val in s %}
                                                        <option value="{{val.id}}">{{val.State_Name}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">District Name :</label>
                                                    <select type="text" name="District_Name" value="{{District_Name}}" class="form-select" id="simpleFormEmail"
                                                        placeholder="Enter District Name" style="border-radius: 50px;" required>
                                                        <option value="">Select City</option>
                                                    {% for item in c %}
                                                        <option value="{{item.id}}">{{item.City_Name}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Pincode :</label>
                                                    <input type="number" name="PIN_Code" value="{{PIN_Code}}" class="form-control" id="simpleFormEmail" onKeyPress="if(this.value.length==6) return false;"
                                                        placeholder="Enter Pincode" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Office Phone Number :</label>
                                                    <input type="number" name="Office_Phone_No" value="{{Office_Phone_No}}" class="form-control" id="simpleFormEmail" onKeyPress="if(this.value.length==10) return false;"
                                                        placeholder="Enter Office Phone Number" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Website URL :</label>
                                                    <input type="text" name="Website_Link" value="{{Website_Link}}" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Website URL" style="border-radius: 50px;" required>
                                                </div>
                                            </div>
                                            <br>
                                            
                                        </div>
                                        <br>
                                        <div class="col-md-3 offset-5">
                                            <button type="submit" class="btn btn-primary">Submit</button> 
                                            <a href="/ad/industry_list/" class="btn btn-danger">Cancel<br></a>
                                        </div>
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end new student list -->
                </div>
            </div>
            <!-- end page content -->
        </div>
        <!-- end page container -->
        {% endblock %}