{% extends 'admin_header.html' %}
{% load static %}
{% block content  %}
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">TRAINING CENTER</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="#">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">TRAINING CENTER</li>
                            </ol>
                        </div>
                    </div>

                    <!-- start new student list -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Edit Training Center</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <form action="/ad/edit_center/{{edit_cen.id}}/" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Training Partner Name : :</label>
                                                    <select name="Training_Partner_Id" class="form-select" style="border-radius: 50px;">
                                                        {% for val in industry %}
                                                        <option value="{{val.id}}">{{val.Training_Partner_Name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>State :</label>
                                                    <select name="state" class="form-select" style="border-radius: 50px;">
                                                        {% for val in selectstate %}
                                                        <option value="{{val.id}}">{{val.State_Name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>City :</label>
                                                    <select name="City" class="form-select" style="border-radius: 50px;">
                                                        {% for val in city %}
                                                        <option value="{{val.id}}">{{val.City_Name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Training center Name :</label>
                                                    <input type="text" value="{{edit_cen.Training_Center_Name}}" name="Training_Center_Name" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Training center Name"
                                                        style="border-radius: 50px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Address 1 :</label>
                                                    <input type="text" value="{{edit_cen.Address1}}" name="Address1" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Address 1" style="border-radius: 50px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Address 2 :</label>
                                                    <input type="text" value="{{edit_cen.Address2}}" name="Address2" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Address 2" style="border-radius: 50px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Pin Code :</label>
                                                    <input type="number" value="{{edit_cen.Pin_Code}}" name="Pin_Code" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Pin Code" style="border-radius: 50px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Contact Name :</label>
                                                    <input type="text" value="{{edit_cen.Contact_Name}}" name="Contact_Name" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Contact Name" style="border-radius: 50px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Contact Email :</label>
                                                    <input type="email" value="{{edit_cen.Contact_Email}}" name="Contact_Email" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Contact Email" style="border-radius: 50px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="simpleFormEmail">Contact Number :</label>
                                                    <input type="number" value="{{edit_cen.Contact_No}}" name="Contact_No" class="form-control" id="simpleFormEmail"
                                                        placeholder="Enter Contact Number" style="border-radius: 50px;">
                                                </div><br>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="col-md-3 offset-5">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="/ad/list_center/" class="btn btn-danger">Cancel</a><br>
                                </div>
                                <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end new student list -->
            </div>
        </div>
        <!-- end page content -->
    </div>
    <!-- end page container -->
    {% endblock %}